*{
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display:flex;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926__340.jpg");
    background-repeat:no-repeat;
/* Keywords syntax */
    background-size: cover;

/* One-value syntax */
/* the width of the image (height set to 'auto') */
 /* background-size: 30%; */
/* background-size: 3em; */
/* background-size: 12px; */
/* background-size: auto;  */
/* Two-value syntax */
/* first value: width of the image, second value: height */
/* background-size: 50% auto; */
 /* background-size: 3em 75%; */
/* background-size: auto 600px; */
/* background-size: auto auto; */
/* Multiple backgrounds values for Multiple images by background-image */
/* Do not confuse this with background-size: auto auto */
/* background-size: auto, auto; */
/* background-size: 40%, 50%, 95%; */
/* background-size: 600px, auto, contain; */
/* Global values */
/* background-size: inherit; */
 /* background-size: initial; */
/* background-size: unset; */
 } 

 .boxes{
    display:flex;
    justify-content: center;
    align-items: center;
 }
 #box1{
    width:100vw;
    height:15vh;
}
#box2{
    /* display:block; */
    width:100vw;
    height:85vh;
    /* border:3px solid blue; */
}
#box4{
    width:50vw;
    height:100%;
    /* border:1px solid green; */
    color:white;
    
}
#box3,#box5{
    width:25vw;
    height:100%;
    /* border:1px solid yellow; */
}

#box3{
    flex-direction: column;
}

#box6{
    width:40vw;
    height:60%;
    border:3px solid white;
    border-radius: 2rem;
    margin-top:5%;
    margin-left:5%;

}
#box7{
    flex-direction: column;
    color:white;
    width:25vw;
    height:60%;
    /* border:3px solid violet; */
    /* border-radius: 3rem; */
    margin:5%;
}

#Submit{
    background-color: black;
    color:white;
    cursor: pointer;
}

div{
    /* border:2px solid red; */
    width:100vw;
    height:100vh;
    
}

a{
    margin:1.5rem;
    text-decoration: none;
    font-weight: bold;
}
a:link{
    color:white;
    padding:10px 10px;    
}
a:visited{
    /* color:white; */
    color:grey;
    text-decoration: underline solid grey;
   
}
a:hover{
    background-color:grey;
    color:white;
    border:1px solid white;
    border-radius:5px;
}
button{
    margin:1rem;
    padding:.5rem;
    border:1px solid white;
    border-radius: 0.5rem;
    background-color:black;
    color:white;
    cursor:pointer;
}
img{
    width:50%;
    height:50%;
    margin-top: 15px;
}
h2,input{
    width:100%;
    margin:.25rem;
    padding:.25rem;
    border-radius: .5rem;
    text-align: center;
}
