* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Styling the navbar  */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 4%;
    position: sticky;
    top: 0;
    background-color: white;

}

.miniContainer {
    width: 40%;
}

.miniContainer img {
    width: 50%;
    /* border:2px solid red; */
}

nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav ul li {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease-in;
}

nav ul li a:hover {
    color: red;
}

/* Styling section1 and section2  */
.common {
    height: 50vh;
    background-color: #ede4db47;
}
.common video{
    transform: rotateX('90 degree');
   height:100%;
}

/* Styling the footer section  */

footer {
    color: white;
    background-color: #232c3b;
    padding-top:3%;
    padding-bottom:1%;
    font-size: 1.05rem;
}

footer .container{
    width:90%;
    margin:auto;
    /* border:2px solid red; */
    display:flex;
    color:#d3d3d3;
}
/* footer div{
    border:2px solid red;
} */
.container h3{
    margin-bottom:1vw;
    color:white;
    font-size: 1.2rem;
}
.ft-c1{
    width:35%;
    padding-right: 3vw;
}
.ft-c2{
    width:18%;
    padding:0 2vw;
}
.ft-c3{
    width:17%;
    padding:0 2vw;
}
.ft-c4{
    width:30%;
    padding:0 2vw;
}
.ft-c4 p{
    padding-bottom:1vw;
}
.listStyle li{
    padding:4%;
    list-style: none;
}
.listStyle li::marker{
    content:"\f152";
    font-family: 'FontAwesome';
    font-weight: 400;
    transition:padding 0.35s linear;
}

.listStyle li a{
    text-decoration: none;
    color:#d3d3d3;
    padding:0.25vw;
    transition:padding 0.35s linear;
}
.listStyle li a:hover{
color:white;
padding:0.5vw;
}