*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #2189e9;
}
i{
    font-size: 1.5rem;
    text-align: center;
}

button{
    width:3vw;
    height:3vw;
    cursor:pointer;
    border:none;
    background-color: white;
}
/* button:active{
} */
#inputt{
    font-size: 1.25rem;
    padding:0% 1%;
    height:3vw;
    width:10vw;
    border:none;
    outline: none;
    /* animation-name: Sahil1; */
    animation-duration:0.9s;
    animation-iteration-count: 1;
    /* animation-direction:reverse ; */
    /* transition:visibility 2s; */
    /* border:1px solid red; */
}
@keyframes Sahil1{
    from{
        padding:0;
        margin:0;
        width:0px;
        /* height:0; */
    }
    to{
        width:10vw;
    }
}
@keyframes Sahil2{
    from{
        width:10vw;
        /* height:0; */
    }
    to{
        padding:0;
        margin:0;
        width:0px;
    }
}
#input:focus{
    font-size: 1.25rem;
    outline:none;
    /* border:none; */
}